* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: #EBF2FA;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 11px;
    color: #080213
}

#container {
    width: 100%;
    height: 100vh;
}

.neumorphism {
    background-color: #EBF2FA;
    box-shadow: 3px 3px 8px #ffffff,
        -3px -3px 8px #bfd3e9;
    /* inset 3px 3px 3px #70a07e, */
    /* inset -6px -6px 10px #a2ebb8; */
}

.card-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.select-menu {
    cursor: pointer;
    position: relative;
}

.select {
    border-radius: 6px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.arrow-box {
    width: 16px;
    height: 16px;
    position: relative;
}

.arrow-box .arrow {
    position: absolute;
}

.arrow-hidden {
    visibility: hidden;
}

.option-list {
    position: absolute;
    width: 90%;
    border-radius: 6px;
    top: 60px;
    max-height: 250px;
    overflow-y: hidden;
    transition: .2s linear .1s;
    z-index: 99;
    height: 0;
    background-color: #89CFF0;
    font-size: 10px;
}

.option {
    gap: 20px;
    height: 20px;
    margin-bottom: 4px;
    transition: 0.2s ease-in-out;
}

.option label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selected {
    color: #00a8ff;
}


.option-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}

.option-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
}

.option-list.active {
    height: 250px;
}


#appbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #58A4B0;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid white;
}

.temp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#startScript {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}

#updateScript {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-bar .active {

    background-color: #66f29a;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #58A4B0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
}